<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email Template</title>
    </head>
    <body
        class="flex justify-center p-2 bg-slate-100 items-center min-h-screen"
    >
        <article
            class="flex w-full max-w-[40rem] bg-white rounded-lg px-6 py-3 justify-start items-start flex-col gap-3"
        >
            <span
                aria-label="store name"
                class="size-9 bg-slate-200 border border-slate-300/35 rounded-full overflow-hidden"
            >
            </span>

            <h1 class="text-xl mt-6 font-bold text-slate-800">
                Wing Market
            </h1>
            <h2 class="text-lg text-slate-600 font-semibold">
                Welcome to our store!
            </h2>
            <p class="text-blue-600 underline capitalize">Hi Bob Merc</p>

            <p class="text-slate-400">
                Thank you for choosing to shop with us. Below are the details of your order.
            </p>
            <div class="-m-1.5 mt-10 overflow-x-auto">
                <div class="inline-block min-w-full p-1.5 align-middle">
                    <div class="overflow-hidden rounded-lg border">
                        <table class="min-w-full divide-y divide-slate-200">
                            <thead class="bg-slate-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium uppercase text-slate-500">
                                        Product Name
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium uppercase text-slate-500">
                                        Product Price
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium uppercase text-slate-500">
                                        Quantity
                                    </th>
        
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium uppercase text-slate-500">
                                        Product Size
                                    </th>
        
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium uppercase text-slate-500">
                                        Product Color
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-slate-200">
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm text-slate-900">
                                                Smartphone
                                            </div>
                                        </td>
                                      
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm text-slate-900">
                                                $1200
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm text-slate-900">
                                                1
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm font-medium text-slate-900">
                                                6.5 inches
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm text-slate-900">
                                                Black
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm text-slate-900">
                                                Laptop
                                            </div>
                                        </td>
                                      
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm text-slate-900">
                                                $7500
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm text-slate-900">
                                                1
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm font-medium text-slate-900">
                                                15 inches
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="text-sm text-slate-900">
                                                Silver
                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p class="text-slate-400 mt-3 text-sm">
                Thank you for shopping with us! If you have any questions about your order, feel free to contact us.
            </p>
        </article>
    </body>
</html>
