<section
    class="w-full flex gap-3 flex-col justify-center items-center overflow-hidden h-[85vh] relative bg-neutral-100"
>
    <div
        class="w-full absolute max-w-7xl h-full border-x border-neutral-400/50 border-dashed"
    >
    </div>
    <span class="bg-violet-500/70 blur-[120px] rounded-full size-96 absolute">
    </span>
    <div
        class="w-full max-w-4xl px-1 md:px-0 flex gap-3 flex-col justify-center items-center relative"
    >
        <h2 class=" text-5xl lg:text-7xl capitalize text-center font-bold text-neutral-800">
            Modern subscription 
           
                Studio
             for startups.
        </h2>
        <p class="text-center max-w-3xl text-base font-medium text-neutral-600">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
            saepe optio tenetur laborum excepturi aspernatur esse tempore
            cupiditate ex similique maiores temporibus, ut at provident ab
            molestiae atque deserunt odit.
        </p>
        <button
            class="px-6 py-2 rounded-full text-neutral-700 bg-white font-bold capitalize overflow-hidden shadow-xl"
        >
            Book A Call
        </button>
    </div>
</section>
