<section
    class="w-full mt-10 flex justify-center items-center gap-3 flex-col max-w-7xl"
>
    <h2 class="text-5xl font-semibold text-neutral-800 capitalize text-center">
        Our Service
    </h2>
    <p class="text-neutral-600 max-w-xl text-base text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
        maiores earum sapiente. Perferendis dolorem soluta in dolores.
    </p>
    <div
        class="w-full mt-10 grid-cols-2  grid md:grid-cols-3 grid-rows-2 py-2 gap-1"
    >
        <article
            class="col-start-2 row-span-1 aspect-[9/11] bg-white border border-neutral-300/55"
        >
        </article>
        <article
            class="row-span-1 aspect-[9/11] bg-white border border-neutral-300/55"
        >
        </article>
        <article
            class="row-span-1 aspect-[9/11] bg-white border border-neutral-300/55"
        >
        </article>
        <article
            class="row-span-1 aspect-[9/11] bg-white border border-neutral-300/55"
        >
        </article>
    </div>
</section>
