---
import { X } from "lucide-react";
import SideBar from "../components/SideBar.astro";

interface Props {
    title: string;
    description: string;
}

const { title = "Clean Life", description = "Astro description" }: Props =
    Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
    </head>
    <body
        class="w-full min-h-screen bg-neutral-100 overflow-x-hidden flex flex-col gap-4 justify-start items-center relative"
    >
        <slot />
      <SideBar />
    </body>
</html>

<style>
    @font-face {
        font-family: "honor";
        src: url("/HONORSansArabicUI-M.ttf");
    }
    :root {
        --primary-color: #115e59;
        --secondary-color: #fcd34d;
        --primary--text: #172554;
        --secondary--text: var(--secondary-color);
    }
    body {
        font-family: "honor";
        text-align: right;
        direction: rtl;
    }
    * {
        color: #172554;
    }

  
</style>

<script is:inline>
    const theme = (() => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: light)").matches) {
            return "light";
        }
        return "dark";
    })();

    if (theme === "light") {
        document.documentElement.classList.remove("dark");
    } else {
        document.documentElement.classList.add("dark");
    }
    window.localStorage.setItem("theme", theme);

    
</script>
